* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  width: 100%;
  background-color: #222;
  padding: 10px;
   }

#app {
  width: 100%; }

.container-menu {
  float: left;
  margin-left: 45px; }

div #menu-item {
  display: inline-block;
  margin-right: 5px;
  font-size: 0.8rem;
  color: #D3D3D3;
  font-family: sans-serif;
  position: relative;
  border-top: 2px solid transparent;
  padding: 5px 10px;
  text-transform: uppercase;
  transition: 0.6s; }

.fa-caret-down {
  margin-left: 4px; }

div #menu-item:active, div #menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-top-color: #7ec56f; }

nav::after {
  content: "";
  clear: both;
  display: table; }

#icon {
  color: #D3D3D3;
  margin-top: 6px;
  font-size: 1.3rem;
  margin-right: 6px; }

#logo{
  margin-left: 12px;
  border-radius: 7px;
  padding: 2px 5px 2px 5px;
  border: 2px solid #DEDEDE;
  color: #DEDEDE;
  font-family:   sans-serif;
  font-size: 1rem;
  /* margin-left: 15px; */
  /* z-index: 1; */
  position: absolute; }
/* .logoS{
  position: absolute;
  width: 10px;
  height: 36px;
  border-radius: 10px;
  z-index: -1;
  margin: -6px 0px 0px -12px;
  transform: rotateZ(34deg);
  background-color: green;
   
} */
.top__right-panel {
  width: 20rem;
  float: right; }

.top__right-panel a {
  margin-right: 20px; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

body {
  font-family: sans-serif;
  background: rgba(211, 211, 211, 0.31); }

.tab_container {
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  position: relative; }
  
  .tab1_container {
    width: 50%;
    padding-top: 0px;
    padding: 4 10px 10px 10px;
   }
  
section {
  clear: both;
  padding-top: 10px;
  display: none; }
/* #hr{
  position: absolute;
  border: 1px solid black;
  margin: 59px 0px 0px -10px;
  width: 100%;
} */
.tab {
  box-shadow: 0px 2px 2px #D3D3D3;
  font-weight: 900;
  letter-spacing: 1px;
  display: block;
  float: left;
  width: 20%;
  padding: 1em;
  color: #0a0a0a;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  
  background: #f0f0f0; }
  .tab1 {
     box-shadow: 0px 0.5px 2px lightgray;
    font-weight: 500;
    display: block;
    float: left;
    width: 20%;
    padding: 0.4em;
    color: #0a0a0a;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f0f0f0; }

.tab_container .tab-content fieldset {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out; }

.tab_container [id^="tab"]:checked + label {
  background: #FFF;
  box-shadow: inset 0 3px #7ec56f;
 }

/*----Content Animation-----*/
@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }

   
.active-content {
  display: block;
  width: 100%;
  padding: 10px;
  background: #FFF;
  color: #999;
  border-bottom: 2px solid #222; }
.tab-content1{
  width: 200%;
  border-bottom: 2px solid transparent;
}
.tab_container .active-tab {
  background: #FFF;
  box-shadow: inset 0 2px #55c578;
 }
  
fieldset {
  font-family: sans-serif;
  color: #000;
  width: 60%;
  font-weight: 400;
  margin: 0.6rem  2rem;
  padding: 10px; }

.GS {
  display: flex;
  justify-content: flex-start;
  padding: 0px 2px 5px 2px; }

.GS label {
  width: 50px;
  flex: 2;
  margin-right: 5rem; }

.BS {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  padding: 1px 2px 2px 2px; }

select {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.38);
  border-radius: 1px; }

.BS input {
  outline: none;
  padding: 2px; }

.radio {
  margin-right: 7px;
  margin-left: 7px; }

.first {
  margin-left: 0; }

.cross {
  color: red; }

#cont {
  width: 20rem; }

.BS input {
  margin-right: 13px; }

::-webkit-input-placeholder {
  font-size: 12px;
  margin-bottom: 5px;
  padding: 2px; }

#date {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.38);
  padding-left: 5px;
  padding-bottom: 2px;
  font-family: monospace;
  }

#date::-webkit-inner-spin-button,
#date::-webkit-calender-picker-indicator {
  display: none !important;
  -webkit-appearance: none !important; }

 .GS select {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.38);
  margin-right: 0rem;
  margin-bottom: 4px;
  padding-right: 0rem;
  font-family: monospace; }

  .BS_Title{
    margin-right: 10px;
    font-weight: 900;
    color:#222;
    width: 50%;
    background-color: lightgreen;
  }
  .BS_Title div{
    flex: 1;
  }
  
  #Tname{
    outline: none;
    text-transform: uppercase;
    margin-left: 2px;
    margin-right: 30px;
    width: 50px;
  }
  
  .BS_name div{
    font-weight: 900;
    font-family: sans-serif;
    margin-right: 5rem;
    margin-left: 2rem;
  }
  
  .BS .first{
    flex: 2.5;
    margin-left: 28px; 
  }
  .BS .secound{
    flex: 1; 
    margin-right: 50px;  
  }

  .AddApp select{
    padding-right: 0px;
    margin-right: 0px;
  }
#smalls {
  font-size: 13px; }
input[type=text]{
  outline-color: lightgreen;
}
.inputs {
  font-family: monospace; }

.BS #bcont {
  flex: 1;
  font-family: monospace !important;
  font-size: 14px; }

#Update {
  background-color: darkgreen;
  color:  #fff;
  padding: 7px;
  margin: 9px;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  border: none; }
  .AddApp #Update{
    font-size: 0.75rem;
    cursor: pointer;
    margin-left: 40px; 
    letter-spacing: 1px;
  }

 #Update:active{
   transform: scale(90%); 
} 

.Flist {
  margin-bottom: 0px !important;
  color: #000 !important;
  text-transform: uppercase;
  padding: 6px 0px 4px 20px;
  font-family: sans-serif;
  font-weight: 900;
  font-size: 0.85rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 2px #D3D3D3;
  background-color: #eee !important;
  height: 30px; }

.General_Settings {
  display: flex;
  position: relative;
  margin: 30px 30px 0px 30px;
  height: 5.8rem;
  background-color: #FFF;
  box-shadow: 0px 2px 2px #D3D3D3; }

.General_Settings div {
  width: 7.5rem;
  font-size: 25px;
  padding: 10px 10px 10px 20px;
  color: rgba(25, 235, 25, 0.31); }

.General_Settings div svg {
  color: rgba(6, 73, 6, 0.75); }

.Settings-title {
  border: 1px solid #D3D3D3;
  display: flex;
  margin: 20px 30px -95px 30px;
  height: 5.5rem;
  text-transform: uppercase;
  padding: 2px 0px 2px 10px;
  font-family: Calibri, 'Trebuchet MS', sans-serif, Times New Roman, serif;
  font-weight: 550;
  font-size: 0.85rem;
  letter-spacing: 2px;
  color: #000 !important;
  box-shadow: 0px 2px 2px #D3D3D3;
  background-color: #eee !important; }

.General_Settings p {
  color: #000;
  font-size: 0.8rem;
  font-weight: 900;
  text-align: center;
  font-family: sans-serif;
  margin: 5px 0px 0px -2rem;
  line-height: 12px;
  width: 7rem; }

.G-two p {
  margin-top: 0px; }

.G-two .fa-plane {
  margin-bottom: 7px; }

.G-three p {
  margin-top: 0px; }

.G-four p {
  margin-top: 0px; }

.BS #zoneName{
   font-size: 13px;
   font-weight: 600;
   
}
.BS button img{
   width: 15px;
}
#ErrorMessage{
  margin: 4px 0px -10px 15px;
  font-size: 0.9rem;
  font-family: sans-serif;
  color: red;
}

/* ---Flight Editing--- */
.FE{
  margin: 2rem;
  padding: 0px;
  box-sizing: border-box;
}
.FE fieldset{
  margin-top: 30px;
}
legend{
  font-family: tahoma;
  letter-spacing: 2px;

} 

.Fsettings{
   width: 100%;
   font-family: sans-serif;
   color: #000;
   display: flex;
   padding: 10px;
   margin: 3px 0px 1px 0px;
   background-color: #FFF;
   box-shadow: 4px 2px 8px 2px #D3D3D3;
}

.Fsettings div{
  flex: 1;
}
.FsettingStyle input{
  outline-color: lightgreen;
  padding: 4px;
  width: 17rem;
  margin-left: -120px;  
}
.FsettingStyle div{
  font-family:   Arial, sans-serif;
}
  
#Dtnote{
   font-size: 12px;
   letter-spacing: 1px;
   font-weight: 900;
   font-family: tahoma;
   width: 50px;
   height: 100%;
   padding: 0px 1px 0px 3px;
   outline-color: lightgreen;
}

.dripNote{
  padding: 6px;
  width: 12rem;
  height: 6rem;
  outline-color: lightgreen;
}
/* #content2{
  background-color: rgba(250, 250, 250, 0.76);
} */
.Fsettings label {
  margin-left: 20px;
}
.occupy2{
  margin-right: 15rem; 
}
#codeStyle{
  width: 4rem;
  margin: 0px 0px 0px 6px;
  padding-right: 10px;
}
 .selectAll{
    margin-top: 10px 0px -2px 0px;
 }


 /***** Hanling Request *****/
 #OperatorICAO{
   flex: 1;
   width: 4rem;
 }
 #OperatorName{
   flex: 1;
}
.OperatorName{
  width: 100%;
}
#cont1{
  width: 40%;
  /* background-color: red; */
}
.Emails{
  width: 100%;
  height: 50px;
  outline-color: lightgreen;
}
.details{
   height: 80px;
}
.ReqApp{
  margin: 0;
  padding: 10px;
  background: #f0f0f0;
}
 

/********* Sending Rules *******/

#sendingRule{
   padding: 20px;
   color: #000;
   font-family: sans-serif;
}
.Reg{
  text-transform: uppercase;
  margin-bottom: 10px;
}
table{
  table-layout: fixed;
  width: 250px;
  margin-bottom: 10px;
}
 table tr td{
   width: 90px;
   text-transform: uppercase;
}
   
table tr td #RuleName{
  width: 3.5rem;
  border: 1px solid gray;
  padding: 1px;
  text-transform: uppercase;
}
.Records{
  font-size: 0.8rem;
  font-family:  Verdana, sans-serif;
  color: rgba(0, 0, 255, 0.8);
}
.AddTzoneTable{
   border-radius: 1px;
   margin-left: -10px;
   font-size: 0.8rem;
   border-top: 1px solid rgba(135, 210, 250, 0.82);
   border-bottom: 1px solid rgba(135, 210, 250, 0.82); 
   font-family: Verdana, sans-serif;
   width: 30%;
   padding: 10px 0px 0.5px 10px; 
   background-color: rgba(135, 208, 250, 0.42);
}
 #count{
   font-family: Verdana, sans-serif;
   font-size: 0.9rem;
 }
